.loader {
  position: absolute;
  margin-top: 140px;
  margin-left: 450px;
  text-align: center;
}
@media (max-width: 768px) {
  .loader {
    position: absolute;
    margin-top: 70px;
    margin-left: 200px;
    text-align: center;
  }
}
